/* General Style Reset */
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    width: 100%;
    overflow: visible;
}

/* Alert Message */
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

#message {
    margin: 10px 0;
    padding: 5px;
    border-radius: 4px;
    text-align: center;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

#message.show {
    animation: fadeIn 0.5s ease-in-out forwards;
}

#message.hide {
    animation: fadeOut 0.5s ease-in-out forwards;
}

#message.success {
    background-color: #d4edda;
    color: #155724;
}

#message.error {
    background-color: #f8d7da;
    color: #721c24;
}

/* Drag and Drop Feature */
[draggable] {
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    /* Required to make an element draggable */
    cursor: move;
}

.dragOver {
    border: dashed 2px #000;
}

/* Styles for the draggable rows */
tr.draggable {
    cursor: move;
}

/* Style to apply to the row being dragged */
tr.dragging {
    opacity: 0.5;
}

/* Style to apply to potential drop targets */
tr.over {
    border-bottom: 2px solid #009688;
}

/* Buttons */
button {
    background-color: #007BFF;
    color: white;
    font-size: 1rem;
    border: 2px solid transparent;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

button:hover {
    background-color: #0056b3;
}

button:active {
    background-color: #004085;
    border-color: #002752;
}

button:focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

button:focus-visible {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

.button-green {
    background-color: #1e6e00;
}

#export-dropdown-button {
    position: relative;
    display: inline-block;
    padding-right: 50px;
}

#export-dropdown-button::after {
    content: '▼';
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 0.8rem;
    border-left: 1px solid #fff;
    padding-left: 14px;
}

.dropdown {
    display: inline-block;
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    left: 0;
    box-sizing: border-box;
}

.dropdown-content button {
    background-color: white;
    color: black;
    text-decoration: none;
    font-size: 0.85rem;
    display: block;
    text-align: left;
    border: none;
    border-radius: 0;
    margin: 0;
    width: 100%;
}

.dropdown-content button:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

#clear-metadata {
    background-color: #ff6666;
}

#clear-metadata:hover {
    background-color: #ff4d4d;
}

#export-template {
    display: flex;
}

/* Tables */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 15px 0;
    min-width: 400px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.15);
}

th {
    background-color: #007bff;
    color: white;
    text-align: left;
    padding: 5px 10px;
}

td {
    padding: 5px 10px;
    border-bottom: 1px solid #dddddd;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

/* Layout */
.wrapper {
    height: 100%;
    width: 100%;
    min-width: 400px;
    overflow-y: hidden;
    padding: 10px;
}

.metadata-table-wrapper {
    width: 100%;
    display: inline-block;
}
